<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>SHORTCUTS</h3>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/find-materiale">Find materialS</a>
          </li>
          <li>
            <a target="" alt="" href="http://www5.kb.dk/da/dia/kalender/index.html">Events</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/services">Services</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/besoeg-os">Visit us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>USE US</h3>
          </li>
          <li>
            <a target="" alt="" href="http://www.statsbiblioteket.dk/forbiblioteker">For the librarians</a>
          </li>
          <li>
            <a target="" alt="" href="http://www5.kb.dk/da/dia/lokaler/index.html">Meetings and conferences</a>
          </li>
          <li>
            <a target="" alt="" href="https://dab.dk/">The Administrative Library</a>
          </li>
          <li>
            <a target="" alt="" href="http://pligtaflevering.dk">Legal Deposit</a>
          </li>
          <li>
            <a target="" alt="" href="http://www5.kb.dk/da/dia/undervisning/index.html">For schools</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>INFORMATION</h3>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/spoerg-biblioteket">Ask the library</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/om-os/job-og-karriere">Vacancies</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/om-os/presse">Press</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/persondatapolitik">Privacy policy</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/was">Accessibility statement</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-6 col-md-3">
        <ul class="link-list">
          <li>
            <div class="footer-logo">
              <span class="">&nbsp;</span>
              <span class="mobile">&nbsp;</span>
            </div>
          </li>
          <li>
            <span><br></span>
          </li>
          <li>
            <span>Tel: (+45) 3347 4747</span>
          </li>
          <li>
            <span>kb@kb.dk</span>
          </li>
          <li>
            <span>EAN: 5798000795297</span>
          </li>
          <li>
            <a id="csconsentlink" href="javascript:void(0)">Cookie Settings</a>
          </li>
          <li class="show-for-medium hidden-xs hidden-sm">
            <a target="_blank" href="https://www.kb.dk/om-os/foelg-os">
              <i class="icon zmdi-facebook icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
            <a target="_blank" href="https://www.kb.dk/om-os/foelg-os">
              <i class="icon zmdi-linkedin icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
            <a target="_blank" href="https://www.kb.dk/om-os/foelg-os">
              <i class="icon zmdi-twitter icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
