<div class="container banner">
  <div class="row">
    <div class="col-md-9 brand">
      <h1>LOAR <small>Library Open Access Repository</small></h1>
      The Library Open Access research data Repository
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h3>News in LOAR</h3>
    <p>October 2021: Trykkefrihedens Skrifter. Trykkefrihedens Skrifter. Ca. 1000 piecer og pamfletter indsamlet efter
      Christian 7. og Struensee erklærede trykkefrihed d. 14. september 1770. Nye datasæt i collection <a
        href="https://loar.kb.dk/handle/1902/7790">Freedom of Press Writings (Trykkefrihedens Skrifter)</a>.</p>
    <p>October 2021: Danske bøger on demand. Første datasæt baseret på digitaliserede monografier se collection<a
      href="https://loar.kb.dk/handle/1902/7798"> DOD OCR-tekst datasæt vedr. ældre dansksproget materiale</a>. Det
      første
      datasæt er baseret på bøger trykt op til 1881.</p>
    <p>March 2021: Updated cookies notification.</p>
  </div>
</div>
