<div class="about container">
  <div class="row">
    <div class="col-md-9">

      <h2 [routerLink]="['/about']">About LOAR</h2>
      <div id="toc_container">
        <ul class="toc_list">
          <li><a href="#What_is_LOAR">What is LOAR</a></li>
          <li><a href="#Costs">Costs</a></li>
          <!--<li><a href="#How_to_upload">How to upload</a></li>-->
          <li><a href="#Terms_of_service">Terms of service</a></li>
          <li><a href="#Distribution_license">Distribution license</a></li>
          <li><a href="#FAQ">FAQ</a></li>
        </ul>
      </div>

      <h3 class="anchor" id="What_is_LOAR">What is LOAR</h3>
      <p>Library Open Access Repository (LOAR) is an open data repository established in 2016 as a service for
        storing and providing access to Danish research data.</p>
      <p>The service has the following key goals:</p>
      <ul>
        <li>Make data accessible to review for publications</li>
        <li>Enable researchers to meet requirements for Danish and European grants</li>
        <li>Ensure data privacy and removal of data as appropriate</li>
        <li>Enable reuse of data where appropriate</li>
        <li>Make open access data from the Royal Danish Library accessible for research</li>
      </ul>
      <p>Researchers who upload data are expected to share the data using Creative Commons licenses.</p>
      <p><a href="https://creativecommons.org/faq/#general-license-information" target="_blank">More about
        licenses</a></p>

      <h3 class="anchor" id="Costs">Costs</h3>
      <dl>
        <dt>Submissions below 10GB</dt>
        <dd>If your submission does not exceed 10GB, the Royal Danish Library will preserve it for five
          years at no charge.
        </dd>
        <dt>Submissions above 10GB</dt>
        <dd>If a submission is above 10GB or requires long term preservation, please contact <a
          href="mailto:datarepo-support@kb.dk">datarepo-support@kb.dk</a> for prices.
        </dd>
      </dl>
      <p>If you have any queries about LOAR, please contact <a href="mailto:datarepo-support@kb.dk">datarepo-support@kb.dk</a>.
      </p>

      <h3 id="Terms_of_service" class="anchor">Terms of service</h3>
      <p>You can read and download our terms of service <a
        href="/assets/RDL/pdfs/LOAR_TermsofService_v3_KB.pdf"
        target="_blank">here</a></p>

      <h3 id="Distribution_license" class="anchor">Distribution license</h3>
      <p>You can read and download our distribution license <a
        href="/assets/RDL/pdfs/LOAR_License_V3_KB.pdf"
        target="_blank">here</a></p>

      <h3 class="anchor" id="FAQ">FAQ</h3>
      <p>Below you will find frequently asked questions - and their subsequent answer - about LOAR.</p>
      <dl>
        <dt>Who can use LOAR?</dt>
        <dd>LOAR can be used by researchers at Danish universities.</dd>
        <dt>For how long will data be stored in LOAR?</dt>
        <dd>Data will be stored for at least five years. If you want to store data for more than five years,
          please contact <a href="mailto:datarepo-support@kb.dk"
                            target="_blank">datarepo-support@kb.dk</a>.
        </dd>
        <dt>What are the costs for uploading data to LOAR?</dt>
        <dd>
          <p>For data amounting to less than 10 GB, there is no fee.</p>
          <p>For data amounting to more than 10 GB, there is a fee.</p>
          <p>Please contact <a href="mailto:datarepo-support@kb.dk">datarepo-support@kb.dk</a> for
            information.</p>
        </dd>
        <dt>How can I access data in LOAR?</dt>
        <dd>All data in LOAR is considered Open Access and will either be placed under a basic distribution
          license or under a Creative Commons licence. Read about the different types of licenses and the
          permissions they grant:
          <ul>
            <li><a href="/assets/RDL/pdfs/LOAR_License_V3_KB.pdf"
                   target="_blank">Basic License</a></li>
            <li><a href="https://creativecommons.org/" target="_blank">Creative Commons</a></li>
          </ul>
        </dd>
        <dt>What is a Creative Commons license?</dt>
        <dd>Creative Commons are different licenses that help you to legally share your knowledge. The
          different licenses describe how others are allowed to use your data. More information can be
          found <a href="https://creativecommons.org/" target="_blank">here</a>.
        </dd>
        <dt>How do I become a user?</dt>
        <dd>If you want to become a registered user, you can sign up <a href="https://loar.kb.dk/register"
                                                                        target="_blank">here</a>.
        </dd>
        <dt>Do I have to register as a user to access data?</dt>
        <dd>No, you don’t have to be a registered user to access data. However, each data set (named Item in
          LOAR) has a license which describes how you may use the data. Please read the license and the
          terms carefully before you start downloading data.
        </dd>
        <dt>How do I submit data to a collection in LOAR?</dt>
        <dd>To become a member of the 'collection submitter group', please contact the community
          administrator. <!--See also '<a href="#How_to_upload">How to upload</a>'.-->
        </dd>
        <!--
        <dt>Can I use my ORCID ID when using LOAR?</dt>
        <dd>Yes, you can use your ORCID ID and the Royal Danish Library recommends this. Read more about
            ORCID and how to register <a href="https://orcid.org/" target="_blank">here</a>.
        </dd>
        -->
        <dt>Where can I find information about how to use LOAR?</dt>
        <dd>
          <!--
          <p>Please read our <a href="#How_to_upload">description</a> on how to upload.</p>
          <p>Information about how to use LOAR is work in progress.</p>
          -->
          <p>LOAR is based on <a href="https://duraspace.org/dspace/" target="_blank">DSpace</a>. You can
            find information
            about DSpace in the <a href="https://wiki.duraspace.org/display/DSPACE/User+FAQ"
                                   target="_blank">DSpace User
              FAQ</a>.</p>
          <p>If you have more questions, please contact <a href="mailto:datarepo-support@kb.dk"
                                                           target="_blank">datarepo-support@kb.dk</a>.
          </p>
        </dd>
        <dt id="community" class="anchor">What is a 'community'?</dt>
        <dd>'Communities' are groups that contribute content to LOAR. LOAR is set up to reflect the
          organization of a university where top level communities are universities (and the Danish Royal
          Library). Sub-communities may
          be departments, labs, research centers, schools, or other administrative units within an
          institution. The individual community has one or more community administrators who determine the
          community content guidelines and approve users as submitters in the community.
        </dd>
        <dt id="collection" class="anchor">What is a 'collection'?</dt>
        <dd>Communities in turn each have 'collections', which contain the content items (the data sets).</dd>
      </dl>
    </div>
    <div class="col-md-3">
      <h3>Contact</h3>
      <figure>
        <img class="image-left" src="/assets/RDL/images/katrine.jfif"/>
        <figcaption>
          <p>KATRINE HOFMANN GASSER</p>
          <p><a class="mail-link" href="mailto:khg@kb.dk">khg@kb.dk</a>
            <br>
            41 39 45 64
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
