<h2>Cookie Policy</h2>
<h3>Get to know more about our use of cookies and how you should approach them on our websites.</h3>

            <p>In general, you should be aware that you as an internet user leave electronic traces behind, and that this gives others the opportunity to follow your movements online. Below is an account of how Royal Danish Library uses the information you leave behind when you visit the library's websites.</p>

            <h2>What is a cookie?</h2>

            <p>Cookies are used today in connection with virtually all websites and are in many cases necessary to provide services on the website. A cookie is a small text file that is stored on the user's IT equipment (PC, tablet, smartphone, etc.) so that the equipment can be recognised. Cookies can be used, among other things, to compile statistics on users' use of the website and to optimise the content of the page. A cookie is a passive file and thus can not collect information from the user's computer or spread computer viruses or other malicious programmes.</p>

            <p>Some cookies are placed by other parties (so-called third parties) and not the one in the address bar (URL) of the browser. It can be ordinary content, but also for example analysis tools or embedded comment fields. This means that cookies are stored by parties other than the owner of the website.<br><br>
                Some cookies are only stored on the user's IT equipment as long as the user has his browser open (session cookies).<br>
                Other cookies are stored for a longer period of time (persistent cookies). When the user revisits a website, session cookies will be set again, while persistent cookies are typically renewed.</p>

            <h2>Cookies at Royal Danish Library's websites</h2>

            <p>At Royal Danish Library's websites, we use cookies to investigate how our websites are used. The information in the statistics cannot be attributed to named users.</p>

            <p>We use both self-produced cookies and cookies from third parties.<br><br>
                Royal Danish Library uses the following types of cookies:</p>

            <ul class="rdl-list"><li><strong>Analysis cookies</strong>: Used to follow how the pages on library's websites are used, including to compile statistics and to improve the structure of the websites</li>
                <li><strong>Marketing cookies</strong><em>:</em> Used for targeted marketing</li>
                <li><strong>Functional cookies</strong><em>:</em> Used to run the operation of the websites</li>
            </ul>
