<h2>{{ 'info.end-user-agreement.head' | translate }}</h2>
<h3>
  Terms of service for end users of the Library Open Access Repository
</h3>
<p>
  The Royal Danish Library (KB) offers a repository, Library Open Access Repository (LOAR), where researchers
  and staff at Danish Universities (contributors) can upload their research data for long-term preservation.
  LOAR is an Open Access repository with free, online access to the research data from the contributors.
</p>
<p>
  LOAR is a 100 % user driven noncommercial service, with no economic profit. KB makes LOAR available and
  maintains it technically; however, KB accepts no responsibility, direct or indirect, in relation to the research
  data uploaded to LOAR or the way in which users use the research data.
</p>
<p>
  Any kind of use is strictly the users own responsibility. The research data are protected by copyright and all
  kind of use requires a permission from the copyright owner(s). In some cases, a Creative Commons (CC)
  license is used. In this case all kind of copying or use of the marked research data must be in accordance
  with the CC-license. Read more about <a href="http://creativecommons.dk/">Creative Commons</a>.
</p>
<h3>
  Reporting of abuse
</h3>
<p>
  We strongly encourage you to report any notice of content on LOAR, which in your opinion violates your
  own or other people’s rights by using the function “Report content as inappropriate”.
</p>
<p>
  KB reserves the right to remove research data from LOAR in case of abuse. Confidential data and data,
  which is illegal under Danish law, will be removed without notice.
</p>
<h3>
  Legal issues and responsibility
</h3>
<p>
  KB does not inspect the research data in the repository, LOAR. KB cannot guarantee that the uploaded
  content does not violate any rights or economic interests of others.
</p>
<p>
  KB disclaims any liability for the content or any loss directly or indirectly of any other kind in relation to the
  research data, which have been uploaded. This includes loss that is due to the lack of consent, withdrawal
  of consent or any violation of the rights of others. KB disclaims any liability for misuse or abuse in relation to
  lack of rights, violation of terms or of the law, violation of the rights of others or any other consequences of
  use directly or indirectly.
</p>
<p>
  It is important, that you are keenly aware of only using material with a CC license that you trust in order to
  avoid to be called financially or legally to account for content on LOAR uploaded contrary to the rights of
  others and contrary to the terms of service.
</p>
<p>
  These terms of service apply for all end users. Danish law governs this service.
</p>
<h3>
  Obligation to stay updated
</h3>
<p>
  The terms of service for using research data from LOAR are updated regularly. The current terms of service
  are always available on LOAR. When using LOAR you are obliged to stay informed of the current terms of
  services.
</p>
