<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>Shortcuts</h3>
          </li>
          <li>
            <a target="" alt="Royal Danish Library" href="https://www.kb.dk/en">KB.DK</a>
          </li>
          <li>
            <a target="" alt="Home" routerLink="/home">LOAR</a>
          </li>
          <li>
            <a target="" alt="About" routerLink="/info/about">About LOAR</a>
          </li>
          <li>
            <a target="" alt="Feedback" routerLink="/info/feedback">Send Feedback</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>Use the library</h3>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/find-materials">Find materials</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/inspiration">Inspiration</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/events">Events</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/services">Services</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/visit-us">Visit us</a>
          </li>
          <li>
            <a target="" alt="" href="https://pro.kb.dk/en">For professionals</a>
          </li>
          <li>
            <a target="" alt="" href="https://pro.kb.dk/en/meetings">Meetings and conferences</a>
          </li>
          <li>
            <a target="" alt="" href="https://forcentraladministrationen.kb.dk/en">
              For the central administration in Denmark</a><!-- BEMÆRK: DAB har skiftet navn og site -->
          </li>
          <li>
            <a target="" alt="" href="https://pro.kb.dk/en/legal-deposit">Legal Deposit</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-6 col-md-3">
        <ul id="" class="link-list">
          <li class="">
            <h3>Information</h3>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/about-us/job-and-career/vacant-positions">Vacant Positions</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/regulations">Regulations</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/copyright-and-use-our-materials">Copyright</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/privacy-and-personal-data-protection-policy">
              Privacy and Personal Data Protection Policy</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/was">Accessibility Statement</a>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/en/service-status">Service status</a>
          </li>
          <!--
          <li>
            <a target="" alt="" href="TODO">Cookie Settings</a>
          </li>
          -->
        </ul>

      </div>
      <div class="col-sm-6 col-md-3">
        <ul class="link-list">
          <li>
            <div class="footer-logo">
              <span class="">&nbsp;</span>
              <span class="mobile">&nbsp;</span>
            </div>
          </li>
          <li>
            <span><br></span>
          </li>
          <li>
            <a target="" alt="" href="https://www.kb.dk/spoerg-biblioteket">Ask the library</a>
          </li>
          <li>
            <span>Tel: (+45) 3347 4747</span>
          </li>
          <li>
            <span>kb@kb.dk</span>
          </li>
          <li>
            <span>EAN: 5798000795297</span>
          </li>
          <!--<li>
            <a id="csconsentlink" href="javascript:void(0)">Cookie Settings</a>
          </li>-->
          <li class="show-for-medium hidden-xs hidden-sm">
            <a target="_blank" href="https://www.facebook.com/DetKglBibliotek/">
              <i class="icon zmdi-facebook icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
            <a target="_blank" href="https://www.instagram.com/detkglbibliotek/">
              <i class="icon zmdi-insta icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/det-kgl-bibliotek/">
              <i class="icon zmdi-linkedin icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
            <a target="_blank" href="https://twitter.com/DetKglBibliotek">
              <i class="icon zmdi-twitter icon-medium"></i>
              <span class="sr-only">https://www.kb.dk/om-os/foelg-os</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
