footer {
  background-color: #002E70;
  color: white;
  padding: 1.5rem 0;
}

footer a {
  text-decoration: none;
  margin-right: .75rem;
}

footer a:hover {
  color: inherit;
  text-decoration: underline;
}

/* Footer logo */
.footer-logo {
  width: 7rem;
  height: 100%;
  background-image: url(/assets/RDL/images/footer-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media print, screen and (min-width: 64em) {
  .footer-logo {
    background-image: url(/assets/RDL/images/footer-logo.svg);
    width: 7rem;
  }
}

.footer-logo span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Link list UL */
.link-list {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 39.99875em) {
  .link-list {
    font-size: 0.875rem;
  }
}

.link-list li {
  list-style: none;
  padding-bottom: .75rem;
}

a {
  text-decoration: underline;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a:hover {
  color: #002E70;
}

footer .icon.icon-medium {
  background-color: white;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .icon.icon-medium::before {
  color: #002E70;
}

.icon:before {
  width: 100%;
  display: inline-block;
  height: 100%;
  text-align: center;
}

/* Icons */
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 'material-icons';
  font-size: inherit;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: inherit;
}

.icon:before {
  width: 100%;
  display: inline-block;
  height: 100%;
  text-align: center;
}

.icon.icon-facebook {
    background-image: url("/assets/RDL/images/icons/icon-facebook.svg");
}

/*.icon.icon-twitter {*/
/*    background-image: url("../assets/images/icons/icon-twitter.svg");*/
/*}*/

.icon.icon-button-right {
  background-image: url("/assets/RDL/images/icons/icon-button-right.svg");
  background-size: cover;
}

.icon.icon-crown {
  background-image: url("/assets/RDL/images/crown.svg");
}

.icon.icon-xsmall {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.icon.icon-small {
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.23rem;
}

.icon.icon-medium {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.icon.icon-large {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.icon.icon-xlarge {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
}
.zmdi-twitter:before {
  content: '\f360';
}
.zmdi-linkedin:before {
  content: '\f3f8';
}
.zmdi-facebook:before {
  content: '\f343';
}
