// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';



.btn-secondary{
  color: #002E70;
}

.btn-outline-secondary{
  color: #002E70;
  border-color: #002E70;
}

.dropdown-item.active, .dropdown-item:active{
  color: white!important;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
  color: #fff !important;
  text-decoration: underline !important;
}

.klaro .cookie-notice:not(.cookie-modal-notice) {
  background: #171717 !important;
}

.klaro .cookie-modal .cm-btn.cm-btn-success, .klaro .context-notice .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success {
  background-color: #002E70 !important;
  color: #ffffff !important;
}

.klaro .cookie-modal .cm-btn, .klaro .context-notice .cm-btn, .klaro .cookie-notice .cm-btn {
  color: #002E70 !important;
  background-color: #ffffff !important;
}
