// Override or add CSS variables for your theme here
$dark-blue-100: #002E70;
$sky-blue-100: #96E2FD;
$green-100: #26D466;
$orange: #F4B664;
$red-100: #B30018;
$light-gray: #D6D6D6;
$dark-blue:   darken($dark-blue-100, 17%) !default;
$link-color: $dark-blue-100;

//$admin-sidebar-bg: darken(red, 17%);

:root {
  --ds-header-bg: $sky-blue-100;
  --ds-header-logo-height: 30px;
  --ds-header-logo-height-xs: 30px;
  --ds-header-icon-color: $link-color;
  --ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --ds-header-navbar-border-top-color: $sky-blue-100;
  --ds-header-navbar-border-bottom-color: $sky-blue-100;
  --ds-navbar-link-color: $dark-blue-100;
  --ds-navbar-link-color-hover: $dark-blue;
}
