// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

$font-family-sans-serif: 'nowayregular',sans-serif !default;

$dark-blue-100: #002E70;
$sky-blue-100: #CAF0FE;
$green-100: #26D466;
$orange: #F4B664;
$red-100: #B30018;
$light-gray: #D6D6D6;
$dark-blue:   darken($dark-blue-100, 17%) !default;

 $theme-colors: (
   primary: $dark-blue-100,
   secondary: $sky-blue-100,
   success: $green-100,
   info: $sky-blue-100,
   warning: $orange,
   danger: $red-100,
   light: $light-gray,
   dark: $dark-blue
 ) !default;

$link-color: map-get($theme-colors, primary) !default;
